@media (max-width: 800px) {

    .socials{
        display: none;
    }
    .nav-bar{
        padding-left: 0;
    }
    .container{
       
    }
    .logo img{
        width: 150px;
        height: 150px;
    }
    .photo{
        margin: 0;
    }
    .Info{
        padding: 0.2em;
        margin: 0 auto;
        text-align: center;
    }
    .Info h1{
       text-align: center;
    }
    .Info p{
        text-align: center;
        padding: 0.2em;
    }
    .section-main .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .Certificates-container{
        display: flex;
        flex-direction: column;
    }
    .skill-icons{
        flex-direction: column;
    }
    .soft-skills-list{
        flex-direction: column;
    }
    .section-projects .container ul {
        margin: 0;
    }
    .section-footer .container{
        flex-direction: column;
        gap:2em;
        justify-content: center;

    }
    .quick-links{
        padding-right: 12em;
    }
   
}