.contact-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 2em;
    gap: 2em;
}
.contact-section .container{
    display: flex;
    flex-direction: column;
}

@media  (max-width: 650px){
    .contact-section{
        flex-direction: column;
        flex-wrap: wrap;
        background-color: red;
       
    }
   
    .contact-section .container{
        align-items: center;
        justify-content: center;
        flex: 1 1 100%;
        margin: 0;
        padding: 0;
    }
  
}

@media (max-width: 420px){
    
    .map{
        max-width: 20%;
    }
    
}